<!DOCTYPE html>
<html lang="en">
<head>
	<%include ../partials/_metaContent.ejs%>

	<%include partials/headerCss.ejs%>
</head>
<body>

	<!-- Navbar -->
    <%include  ../partials/_navbar.ejs%>
    <%include  partials/loginSection.ejs%>



	<!-- Footer Scripts -->
	<%include partials/footerScripts.ejs%>
</body>
</html>
