<div>
	<form style="align-items: center; margin-top: 20%;">
	<span class="button--bubble__container">
	  <a href="modify" class="button button--bubble">
		MODIFY DATA
	  </a>
	  <span class="button--bubble__effect-container">
		<span class="circle top-left"></span>
		<span class="circle top-left"></span>
		<span class="circle top-left"></span>
	
		<span class="button effect-button"></span>
	
		<span class="circle bottom-right"></span>
		<span class="circle bottom-right"></span>
		<span class="circle bottom-right"></span>
	  </span>
	</span>
	<span class="button--bubble__container">
		<a href="delete" class="button button--bubble">
		  DELETE DATA
		</a> 
		<span class="button--bubble__effect-container">
		  <span class="circle top-left"></span>
		  <span class="circle top-left"></span>
		  <span class="circle top-left"></span>
	  
		  <span class="button effect-button"></span>
	  
		  <span class="circle bottom-right"></span>
		  <span class="circle bottom-right"></span>
		  <span class="circle bottom-right"></span>
		</span>
	  </span>
	</form>
	</div>